@import '../base/variables';
.reports {
  .card {
    .card-body {
      min-height: 120px;
    }
    .icon-box {
      i:before,
      svg {
        font-size: 36px;
      }
    }
    .dashboard-content {
      h6 {
        font-size: 16px;
      }
    }
    &.gray {
      @include cardbackground(color(card-gray), 39);
    }
    &.yellow {
      @include cardbackground(color(card-yellow), 34);
    }
    &.green {
      @include cardbackground(color(success), 45);
    }
    &.blue {
      @include cardbackground(color(primary-color), 35);
    }
    &.red {
      @include cardbackground(color(cancel), 26);
    }
    &.dark-blue {
      @include cardbackground(color(move), 58);
    }
    &.light-pink {
      @include cardbackground(color(other), 19);
    }
  }
  .col-xl-custom {
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
  }
}
