@import "../base/variables";
@import "../base/mixin";
%icon-style {
    width: 22px;
    height: 22px;
    font-size: 22px;
    margin-right: 6px;
    vertical-align: bottom;
    color: color(input-label);
}
.small-custom-tabs, .vertical-custom-tabs {
    overflow-y: hidden;
    overflow-x: scroll;
    list-style: none;
    li {
        padding: 8px 30px 8px;
        position: relative;
        cursor: pointer;
        i {
            &:before {
                @extend %icon-style;
            }
        }
        svg {
            @extend %icon-style;
        }
        span {
            font-size: 16px;

            color: color(input-label);
        }
        &.active {
            background-color: lighten(color(input-label), $amount: 24);
            border-top: 2px solid color(primary-color);
            border-radius: 4px;
            i:before, svg {
                color: color(primary-color);
            }
            span {
                    color: color(primary-color);
                    font-weight: 600;
                }   
        }
        &:last-child {
            @media screen and (max-width:676px) {
                text-align: center;
                span {
                    display: block;
                    min-width: 130px;
                }
            }
        }
    }
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color:lighten(color(sidebar-link), $amount: 30);
        border-radius: 30px;
    }
    &::-webkit-scrollbar-track{
        -webkit-border-radius:30px;
        border-radius:30px;
        background:transparent;
        border:none;
        box-shadow:none;
    }
    &::-webkit-scrollbar-thumb{
        -webkit-border-radius:5px;
        border-radius:5px;
        background: lighten(color(sidebar-link), $amount: 14);
    }
}
.daily-activities-2 {
    @media screen and (min-width:992px) {
        .vertical-custom-tabs {
            overflow-x: hidden;
            overflow-y: auto;
            li {
                padding: 7px 15px;
                span {
                    font-size: 15px;
                }
                &.title {
                    background-color: color(calendar-gray);
                    border-radius: 4px 4px 0 0;
                    border-bottom: 1px solid darken($color: color(calendar-gray), $amount: 10);
                    margin-bottom: 5px;
                    h4, i:before {
                        color: color(label-color);
                    }
                    i{
                        &:before {
                            font-size: 18px;
                            margin-right: 3px;
                        }
                    }
                }
                &.active {
                    background-color: transparent;
                    border: none;
                }
                &:last-child {
                    margin-bottom: 10px;
                }
            }
        }
    } 
    @media screen and (max-width:991px) {
        li {
            &:last-child {
                span {
                    min-width: unset;
                }
            }
        }
    }
}