@import "../layout/structure";
@import "../layout/card.scss";
@import "../layout/form";
@import "../components/custom-calendar";
@import "../layout/table";
@import "../components/button-loader";
@import "../components/pagination";
@import "../components/multiselect";

.row {
  .col-xl-custom {
    @media screen and (min-width: 1401px) and (max-width: 1502px) {
      width: 41.66667%;
      &:nth-child(even) {
        margin-left: auto;
      }
    }
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }
}
