<template>
  <div class="home">
    <!-- SideBar Component -->
    <sidebar />
    <div class="main-content">
      <!-- nav component here -->
      <navbar />
      <!-- Inner Content -->
      <div class="inner-content">
        <section>
          <div class="container-fluid mw-1600">
            <div class="row">
              <div cols="12">
                <div class="card bg-transparent border-0">
                  <div
                    class="card-header bg-white d-flex flex-wrap align-items-center"
                  >
                    <div class="content-card-left">
                      <h4 class="card-title">Dashboard</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="col-xxl-4 col-xl-custom col-lg-6 col-12 mb-3"
                v-for="cards in 3"
                :key="cards"
              >
                <div class="card">
                  <div
                    class="card-header card-separation bg-white d-flex flex-wrap"
                  >
                    <div class="content-card-left">
                      <h4 class="card-title card-18 mb-0 pt-2">Shift Drops</h4>
                    </div>
                    <div
                      class="content-card-right range-multislect mt-sm-0 mt-2"
                    >
                      <form
                        class="custom-form d-sm-flex flex-wrap justify-content-sm-end justify-content-space-between w-100"
                      >
                        <v-date-picker
                          v-model="range"
                          class="custom-calendar header-calendar small position-relative left-caret-none"
                          is-range
                        >
                          <template v-slot="{ inputValue, inputEvents }">
                            <div class="d-flex flex-wrap">
                              <input
                                :value="inputValue.start"
                                v-on="inputEvents.start"
                                class="mt-0"
                              />
                              <input
                                :value="inputValue.end"
                                v-on="inputEvents.end"
                                class="mt-0"
                              />
                            </div>
                          </template>
                        </v-date-picker>
                        <Multiselect
                          v-model="value"
                          :options="modalOptions"
                          class="custom-multiselect small mt-sm-0 mt-2"
                          placeholder="All Branches"
                          :searchable="true"
                          :showOptions="true"
                        />
                      </form>
                    </div>
                  </div>
                  <div class="card-body bg-white">
                    <form class="custom-form">
                      <div class="row m-0">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 px-3">
                          <div class="card inner-card"></div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
import sidebar from "../components/sidebar";
import navbar from "../components/nav.vue";
import Multiselect from "@vueform/multiselect";
import "../scss/pages/_main-page.scss";
export default {
  name: "app",
  components: {
    sidebar: sidebar,
    navbar: navbar,
    Multiselect,
  },
  data() {
    return {
      value: null,
      modalOptions: ["All Branches", "Brimingham"],
    };
  },
  setup() {
    const date = new Date();
    const masks = {
      input: "DD-MM-YYYY",
    };
    const range = {
      start: new Date(2020, 0, 1),
      end: new Date(2020, 0, 5),
    };
    return {
      date,
      masks,
      range,
    };
  },
};
</script>
<style src="@vueform/multiselect/themes/default.css"></style>
