<template>
  <div class="home">
    <!-- SideBar Component -->
    <sidebar />
    <div class="main-content">
      <!-- nav component here -->
      <navbar />
      <!-- Inner Content -->
      <div class="inner-content">
        <section class="dashboard">
          <div class="container-fluid mw-1600">
            <div class="row">
              <!-- Dashboard -->
              <div class="col-12">
                <div class="card bg-transparent border-0">
                  <div
                    class="card-header bg-white d-flex flex-wrap align-items-center py-4"
                  >
                    <div class="content-card-left">
                      <h4 class="card-title mb-0 medium-font">
                        Client Reports
                      </h4>
                    </div>
                  </div>
                  <div class="card-body bg-white reports pt-0">
                    <div class="row">
                      <div class="col-xl-custom col-lg-3 col-md-4 col-6 mt-4">
                        <div class="card mb-0 gray shadow-none">
                          <div
                            class="card-body p-0 d-flex flex-wrap align-items-center w-100 justify-content-center"
                          >
                            <div
                              class="
                                dashboard-card
                                d-flex
                                flex-wrap
                                align-items-center
                              "
                            >
                              <div
                                class="
                                  icon-box
                                  d-flex
                                  align-items-center
                                  justify-content-center
                                  bg-primary
                                  mx-auto
                                  w-auto
                                  h-auto
                                  bg-transparent
                                "
                              >
                                <i class="bi bi-file-earmark-check"></i>
                              </div>
                              <div
                                class="
                                  dashboard-content
                                  w-100
                                  pt-3
                                  ps-0
                                  text-center
                                "
                              >
                                <h6 class="mb-0">
                                  <span class="text-capitalize mb-0 font-14"
                                    >Assessment Report
                                  </span>
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-custom col-lg-3 col-md-4 col-6 mt-4">
                        <div class="card mb-0 yellow shadow-none">
                          <div
                            class="card-body p-0 d-flex flex-wrap align-items-center w-100 justify-content-center"
                          >
                            <div
                              class="
                                dashboard-card
                                d-flex
                                flex-wrap
                                align-items-center
                              "
                            >
                              <div
                                class="
                                  icon-box
                                  d-flex
                                  align-items-center
                                  justify-content-center
                                  bg-primary
                                  mx-auto
                                  w-auto
                                  h-auto
                                  bg-transparent
                                "
                              >
                                <i class="bi bi-file-earmark-bar-graph"></i>
                              </div>
                              <div
                                class="
                                  dashboard-content
                                  w-100
                                  pt-3
                                  ps-0
                                  text-center
                                "
                              >
                                <h6 class="mb-0">
                                  <span class="text-capitalize mb-0 font-14"
                                    >Client Reports</span
                                  >
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-custom col-lg-3 col-md-4 col-6 mt-4">
                        <div class="card mb-0 green shadow-none">
                          <div
                            class="card-body p-0 d-flex flex-wrap align-items-center w-100 justify-content-center"
                          >
                            <div
                              class="
                                dashboard-card
                                d-flex
                                flex-wrap
                                align-items-center
                              "
                            >
                              <div
                                class="
                                  icon-box
                                  d-flex
                                  align-items-center
                                  justify-content-center
                                  bg-primary
                                  mx-auto
                                  w-auto
                                  h-auto
                                  bg-transparent
                                "
                              >
                                <i class="bi bi-pin-map"></i>
                              </div>
                              <div
                                class="
                                  dashboard-content
                                  w-100
                                  pt-3
                                  ps-0
                                  text-center
                                "
                              >
                                <h6 class="mb-0">
                                  <span class="text-capitalize mb-0 font-14">
                                    Visit Reports</span
                                  >
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-custom col-lg-3 col-md-4 col-6 mt-4">
                        <div class="card mb-0 blue shadow-none">
                          <div
                            class="card-body p-0 d-flex flex-wrap align-items-center w-100 justify-content-center"
                          >
                            <div
                              class="
                                dashboard-card
                                d-flex
                                flex-wrap
                                align-items-center
                              "
                            >
                              <div
                                class="
                                  icon-box
                                  d-flex
                                  align-items-center
                                  justify-content-center
                                  bg-primary
                                  mx-auto
                                  w-auto
                                  h-auto
                                  bg-transparent
                                "
                              >
                                <i class="bi bi-chat-dots"></i>
                              </div>
                              <div
                                class="
                                  dashboard-content
                                  w-100
                                  pt-3
                                  ps-0
                                  text-center
                                "
                              >
                                <h6 class="mb-0">
                                  <span class="text-capitalize mb-0 font-14"
                                    >Communication Log Book</span
                                  >
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-custom col-lg-3 col-md-4 col-6 mt-4">
                        <div class="card mb-0 red shadow-none">
                          <div
                            class="card-body p-0 d-flex flex-wrap align-items-center w-100 justify-content-center"
                          >
                            <div
                              class="
                                dashboard-card
                                d-flex
                                flex-wrap
                                align-items-center
                              "
                            >
                              <div
                                class="
                                  icon-box
                                  d-flex
                                  align-items-center
                                  justify-content-center
                                  bg-primary
                                  mx-auto
                                  w-auto
                                  h-auto
                                  bg-transparent
                                "
                              >
                                <i class="bi bi-capsule"></i>
                              </div>
                              <div
                                class="
                                  dashboard-content
                                  w-100
                                  pt-3
                                  ps-0
                                  text-center
                                "
                              >
                                <h6 class="mb-0">
                                  <span class="text-capitalize mb-0 font-14"
                                    >Vaccine Report</span
                                  >
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-custom col-lg-3 col-md-4 col-6 mt-4">
                        <div class="card mb-0 dark-blue shadow-none">
                          <div
                            class="card-body p-0 d-flex flex-wrap align-items-center w-100 justify-content-center"
                          >
                            <div
                              class="
                                dashboard-card
                                d-flex
                                flex-wrap
                                align-items-center
                              "
                            >
                              <div
                                class="
                                  icon-box
                                  d-flex
                                  align-items-center
                                  justify-content-center
                                  bg-primary
                                  mx-auto
                                  w-auto
                                  h-auto
                                  bg-transparent
                                "
                              >
                                <i class="bi bi-phone-vibrate"></i>
                              </div>
                              <div
                                class="
                                  dashboard-content
                                  w-100
                                  pt-3
                                  ps-0
                                  text-center
                                "
                              >
                                <h6 class="mb-0">
                                  <span class="text-capitalize mb-0 font-14"
                                    >Call Logs</span
                                  >
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-custom col-lg-3 col-md-4 col-6 mt-4">
                        <div class="card mb-0 light-pink shadow-none">
                          <div
                            class="card-body p-0 d-flex flex-wrap align-items-center w-100 justify-content-center"
                          >
                            <div
                              class="
                                dashboard-card
                                d-flex
                                flex-wrap
                                align-items-center
                              "
                            >
                              <div
                                class="
                                  icon-box
                                  d-flex
                                  align-items-center
                                  justify-content-center
                                  bg-primary
                                  mx-auto
                                  w-auto
                                  h-auto
                                  bg-transparent
                                "
                              >
                                <i class="bi bi-capsule-pill"></i>
                              </div>
                              <div
                                class="
                                  dashboard-content
                                  w-100
                                  pt-3
                                  ps-0
                                  text-center
                                "
                              >
                                <h6 class="mb-0">
                                  <span class="text-capitalize mb-0 font-14"
                                    >Medications Reports</span
                                  >
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-custom col-lg-3 col-md-4 col-6 mt-4">
                        <div class="card mb-0 gray shadow-none">
                          <div
                            class="card-body p-0 d-flex flex-wrap align-items-center w-100 justify-content-center"
                          >
                            <div
                              class="
                                dashboard-card
                                d-flex
                                flex-wrap
                                align-items-center
                              "
                            >
                              <div
                                class="
                                  icon-box
                                  d-flex
                                  align-items-center
                                  justify-content-center
                                  bg-primary
                                  mx-auto
                                  w-auto
                                  h-auto
                                  bg-transparent
                                "
                              >
                                <i class="bi bi-car-front"></i>
                              </div>
                              <div
                                class="
                                  dashboard-content
                                  w-100
                                  pt-3
                                  ps-0
                                  text-center
                                "
                              >
                                <h6 class="mb-0">
                                  <span class="text-capitalize mb-0 font-14"
                                    >Npc Visits</span
                                  >
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
// importing sidebar Component
import sidebar from '../components/sidebar';
import navbar from '../components/nav.vue';
export default {
  components: {
    sidebar: sidebar,
    navbar: navbar,
  },
};
</script>
<style scoped lang="scss">
@import '../scss/layout/structure';
@import '../scss/layout/card.scss';
@import '../scss/components/_reports-cards.scss';
</style>
