@import '../base/variables';
@import '../base/mixin';
@import '../components/dropdowns';

body {
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 10;
    padding: 12px 0;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
      0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    @include transition;
    a {
      &.navbar-brand {
        font-size: 18px;
        font-weight: 400;
        color: color(black-color);
      }
    }
    ul {
      top: -1px;
      li {
        a {
          i {
            &.material-icons {
              font-size: 20px;
              margin-right: 3px;
              max-width: 24px;
              &.code {
                font-size: 24px;
                color: color(primary-color);
                position: relative;
                top: 2px;
              }
            }
          }
        }
        .dropdown-custom {
          .dropdown {
            .dropdown-menu {
              top: 62px !important;
              right: 0 !important;
              transform: translate(-67%, 0) scale(0) !important;
              &.show {
                transform: translate(-67%, 0) scale(1) !important;
                right: 0 !important;
              }
            }
          }
          &.notification-dropdown {
            button {
              i {
                &:before {
                  font-size: 20px;
                }
              }
              .notify {
                width: 14px;
                height: 14px;
                background-color: color(cancel);
                font-size: 13px;
                left: 31px;
                border: 2px solid #fff;
                top: 11px;
              }
            }
            .dropdown-menu {
              min-width: 280px;
              .left-content {
                width: 40px;
                height: 40px;
                background-color: #f8fafd;
                border: 2px solid darken(color(calendar-gray), $amount: 6);
                border-radius: 4px;
                i {
                  &::before {
                    color: color(primary-color);
                  }
                }
              }
              .right-content {
                max-width: calc(100% - 40px);
                padding-left: 10px;
                h4 {
                  font-size: 15px;
                  color: color(sidebar-bg);
                }
                .time {
                  font-size: 13px;
                  color: color(input-label);
                }
                p {
                  font-size: 14px;
                  color: darken(color(input-label), $amount: 10);
                }
              }
              .no-notification {
                figure {
                  width: 150px;
                }
              }
              max-height: 300px;
              overflow-y: auto;
              &::-webkit-scrollbar {
                width: 6px;
                height: 10px;
                background-color: lighten(color(label-color), $amount: 60);
                border-radius: 30px;
              }
              &::-webkit-scrollbar-track {
                -webkit-border-radius: 30px;
                border-radius: 30px;
                background: transparent;
                border: none;
                box-shadow: none;
              }
              &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background: lighten(color(sidebar-link), $amount: 20);
              }
            }
          }
        }
      }
    }
    .nav-link {
      padding: 7.5px 15px;
      font-weight: 400;
      font-size: 12px;
      margin-left: 4px;
      border-radius: 3px;
    }
    form {
      width: 202px;
      position: relative;
      top: -2px;
      .form-group {
        width: 100%;
        div {
          display: flex;
          input {
            max-width: 159px;
          }
        }
      }
    }
    .overlay-layer {
      display: block;
      &:before {
        @include pseudo_function(
          '',
          absolute,
          100%,
          100vh,
          0,
          0,
          0,
          0,
          rgba(0, 0, 0, 0.35)
        );
      }
    }
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
  &.nav-toggle {
    nav {
      .overlay-layer {
        display: none;
      }
    }
  }
}
