<template>
  <nav>
    <div class="container-fluid d-flex flex-wrap align-items-center">
      <a href="#" class="navbar-brand d-lg-block d-md-none d-sm-none d-none"
        >Dashboard</a
      >
      <div class="mr-auto d-lg-none d-md-block d-sm-block d-block">
        <button
          class="btn btn-toggler bg-transparent shadow-none p-0"
          @click.prevent="toggleNav()"
        >
          <i class="bi bi-justify-left"></i>
        </button>
      </div>
      <div
        class="d-flex flex-wrap justify-content-end ms-auto align-items-center"
      >
        <ul
          class="list-unstyled d-flex flex-wrap align-items-center mb-0 position-relative"
        >
          <li class="d-lg-inline-block d-md-inline-block d-none">
            <span style="font-family: system-ui !important;"
              ><i class="bi bi-clock"></i> Friday, June 18th 2021, 11:11:32
              PM</span
            >
          </li>
          <!-- Notification Dropdown -->
          <li class="d-inline-block">
            <div
              class="dropdown-custom ml-auto nav-dropdown notification-dropdown"
            >
              <div class="dropdown position-relative">
                <button
                  class="btn dropdown-toggle pe-0"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-bell-fill"></i>
                  <span
                    class="d-lg-inline-block position-absolute rounded-circle text-white notify"
                    v-if="notification"
                  ></span>
                </button>
                <ul
                  class="dropdown-menu list-unstyled position-absolute right-xs-negative right-xsr-negative py-2"
                  aria-labelledby="dropdownMenuButton"
                >
                  <li
                    class="d-flex flex-wrap justify-content-between py-3 pt-2 pb-2 bg-white"
                    v-if="notification"
                  >
                    <h4 class="d-inline-block text-truncate">
                      All Notification
                    </h4>
                    <a
                      href="#"
                      class="text-primary bg-transparent shadow-none d-inline-block w-auto py-0"
                      >Clear All</a
                    >
                  </li>
                  <li
                    class="d-flex flex-wrap align-items-start py-3"
                    v-if="notification"
                    v-for="list in 5"
                    :key="list"
                  >
                    <div
                      class="left-content d-flex flex-wrap align-items-center justify-content-center"
                    >
                      <i class="bi bi-heart-fill"></i>
                    </div>
                    <div class="right-content w-100">
                      <div class="d-flex flex-wrap mb-1" href="#">
                        <h4 class="d-inline-block text-truncate">
                          Heading
                        </h4>
                        <span class="ms-auto w-auto time">2min ago</span>
                      </div>
                      <a href="#" class="w-100 p-0">
                        <p>Lorem ipsum dolor sit amet.</p>
                      </a>
                    </div>
                  </li>
                  <li class="d-block no-notification py-3" v-else>
                    <h3 class="text-truncate text-center mb-3 text-secondary">
                      No Notifications Yet
                    </h3>
                    <figure class="mx-auto">
                      <img
                        src="../images/no-notification-bell.png"
                        alt="Notification_image"
                        class="w-100 h-100"
                      />
                    </figure>
                    <h5
                      class="mb-0 font-weight-normal text-center mt-3 text-secondary"
                    >
                      "we'll notify you when something arrives!"
                    </h5>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- Notification dropdown ends -->
          <li class="d-inline-block">
            <div class="dropdown-custom ml-auto nav-dropdown">
              <div class="dropdown position-relative">
                <button
                  class="btn dropdown-toggle pe-0"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-person-bounding-box font-xs-14"></i>
                  <span
                    class="d-sm-inline-block d-none ms-lg-2 ms-md-2 ms-sm-2 ms-1 font-xs-13"
                    >Switch Account</span
                  >
                </button>
                <ul
                  class="dropdown-menu list-unstyled position-absolute right-xs-negative"
                  aria-labelledby="dropdownMenuButton"
                >
                  <li v-for="list in 5" :key="list">
                    <a class="d-block dropdown-item text-center" href="#">
                      <i class="bi bi-person me-3"></i>
                      <span class="d-inline-block text-truncate"
                        >chelmsley</span
                      >
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="d-inline-block">
            <div class="dropdown-custom ml-auto nav-dropdown">
              <div class="dropdown position-relative">
                <button
                  class="btn dropdown-toggle pe-0"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-person font-xs-14"></i>
                  <span
                    class="d-sm-inline-block d-none ms-lg-2 ms-md-2 ms-sm-2 ms-1 font-xs-13"
                    >Super Admin</span
                  >
                </button>
                <ul
                  class="dropdown-menu list-unstyled position-absolute"
                  aria-labelledby="dropdownMenuButton"
                >
                  <li>
                    <a class="d-block dropdown-item text-center" href="#">
                      <i class="bi bi-person me-3"></i>
                      <span class="d-inline-block text-truncate">Profile</span>
                    </a>
                  </li>
                  <li>
                    <a class="d-block dropdown-item text-center" href="#">
                      <i class="bi bi-box-arrow-right me-3"></i>
                      <span class="d-inline-block text-truncate">Logout</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="overlay-layer position-absolute w-100 h-100 d-lg-none"
        @click="toggleNav()"
      ></div>
    </div>
  </nav>
</template>
<script>
import '../scss/layout/_nav.scss';
export default {
  components: {},
  data() {
    return {
      notification: true,
    };
  },
  methods: {
    toggleNav: function() {
      var menu = document.querySelector('body');
      if (menu.classList.contains('nav-toggle')) {
        menu.classList.remove('nav-toggle');
      } else {
        menu.classList.add('nav-toggle');
      }
    },
  },
};
</script>
